@charset "utf-8";
/* CSS Document */


/*---between--------*/
@media screen and (min-width:1499px) and (max-width:1899px){

}






/*---min-width------*/
@media (min-width: 349.98px) {
	
}

@media (min-width: 479.98px) {
	
}

@media (min-width: 575.98px) {

}

@media (min-width: 767.98px) {
    
}

@media (min-width: 991.98px) {

}

@media (min-width: 1199.98px) {

}

@media (min-width: 1399.98px) {

}












/*---max-width------*/
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .page-ath-gfx {
        width: 55%;
    }
    .page-ath-content {
        width: 45%;
    }
}

@media (max-width: 991.98px) {
    .page-ath-gfx {
        width: 50%;
    }
    .page-ath-content {
        width: 50%;
    }
}

@media (max-width: 767.98px) {

    .menu-right-part {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #fff;
        padding: 15px;
        padding-top: 65px;
        right: -100%;
        top: 0;
        overflow-x: hidden;
        z-index: 99;
        transition: 0.5s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .menu-right-part.active{
    	right: 0;
    }
    .menu-top-part{
        position: absolute;
        width: 95%;
        top: 80%;
        background: #fff;
        margin: 0 auto;
        left: 0;
        right: 0;
        overflow-x: hidden;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .menu-top-part.active{
       top: 100%;
       opacity: 1;
       visibility: visible;
    }
    .close-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 55px;
        height: 50px;
        background-color: #ff5252;
        border-bottom-left-radius: 50px;
        text-align: center;
        padding-left: 15px;
        padding-top: 10px;
        color: #fff;
        font-size: 14px;
    }
    .toggle-btn {
        position: relative;
        height: 50px;
        width: 25px;
        display: block;
        margin-left: 10px;
    }
    .toggle-btn a{
        display: block;
    }
    .toggle-btn a:before {
        content: '';
        position: absolute;
        top: 15px;
        right: 0;
        width: 100%;
        -moz-border-radius: 1px;
        border-radius: 1px;
        overflow: hidden;
        background: #fff;
        height: 2px;
        transition: all 0.3s;
    }
    .toggle-btn a:after {
        content: '';
        position: absolute;
        top: 31px;
        right: 0px;
        width: 60%;
        -moz-border-radius: 1px;
        border-radius: 1px;
        height: 2px;
        overflow: hidden;
        background: #fff;
        -webkit-transition-property: width,background;
        -moz-transition-property: width,background;
        transition-property: width,background;
        -webkit-transition-duration: 0.3s,0.3s;
        -moz-transition-duration: 0.3s,0.3s;
        transition-duration: 0.3s,0.3s;
    }
    .toggle-btn a .middle-line {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 23px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        right: 0;
        transition: all 0.3s;
    }
    .toggle-btn a .middle-line:after {
        content: '';
        position: absolute;
        right: -20;
        top: -25px;
        padding-left: 28px;
        height: 50px;
    }
    .mobile-toggle-btn {
        position: relative;
        width: 25px;
        margin-left: 10px;
    }
    .mobileNav-wrapper {
        display: block;
    }
    .mobileNav-toggle {
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%,-50%);
    }
    .mobileNav-wrapper.active .mobileNav-toggle {
        transition-delay: .2s;
        transform: translate(-50%,-50%) rotate(135deg);
    }
    .mobileNav-toggle, .mobileNav-toggle:after, .mobileNav-toggle:before {
        border-radius: 1px;
        height: 2px;
        width: 20px;
        background-color: #fff;
        display: block;
        position: absolute;
        transition: all 225ms ease-in-out;
    }
    .header-sticky .mobileNav-toggle, .header-sticky .mobileNav-toggle:after, .header-sticky .mobileNav-toggle:before{
        background-color: #00AE86;
    }

    .mobileNav-toggle:after, .mobileNav-toggle:before {
        content: "";
        top: 0;
        left: 0;
    }
    .mobileNav-toggle:before {
        animation: m .8s cubic-bezier(0,1.02,1,1.01) forwards;
    }
    .mobileNav-toggle:after {
        animation: n .8s cubic-bezier(0,1.02,1,1.01) forwards;
    }
    .mobileNav-wrapper.active .mobileNav-toggle:before {
        animation: k .8s cubic-bezier(0,1.02,1,1.01) forwards;
    }
    .mobileNav-wrapper.active .mobileNav-toggle:after {
        animation-delay: .8s;
        animation: l .8s cubic-bezier(0,1.02,1,1.01) forwards;
    }
    @keyframes m{
        0%{transform:translateY(0)}
        30%{transform:translateY(0)}
        to{transform:translateY(7px)}
    }
    @keyframes n{
        0%{transform:translateY(0) rotate(90deg)}
        30%{transform:translateY(0)}
        to{transform:translateY(-7px)}
    }
    @keyframes k{
        0%{transform:translateY(6px)}
        30%{transform:translateY(0)}
        to{transform:translateY(0)}
    }
    @keyframes l{
        0%{transform:translateY(-6px)}
        30%{transform:translateY(0)}
        to{transform:translateY(0) rotate(90deg)}
    }

    .header-sticky .toggle-btn a:before,
    .header-sticky .toggle-btn a:after,
    .header-sticky .toggle-btn a .middle-line{
        background-color: #3C393A;
    }
    .menu-top-part .nav-bar{
        padding: 10px 0;
    }
    .nav-bar > ul > li > a {
        padding: 8px 18px;
        color: #9a9a9a;
        font-weight: 500;
    }
    .menu-top-part .nav-bar > ul > li > a {
        display: block;
        color: #9a9a9a;
    }
    .nav-bar > ul > li > a:not(:only-child):after{
        transform: translateY(-50%) rotate(0deg);
        right: 4px;
        color: #9a9a9a;
    }
    .nav-bar > ul > li.active > a:not(:only-child):after{
        transform: translateY(-50%) rotate(90deg);
    }
    .nav-bar > ul > li{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .header-btn {
        padding: 0;
        background-color: transparent;
        min-width: auto;
        font-size: 20px;
    }
    .header-btn span{
        display: none;
    }
    .header-btn i{
        display: inline-block;
    }
    .nav-bar > ul > li.active > a{
        
    }
    .menu-top-part .nav-bar > ul > li.active > a{
        background-color: transparent;
        color: #00AE86;
    }
    .account-right {
        margin-left: auto;
    }
    .header-sticky .user-dropdown-icon{
        background-color: #00AE86;
        color: #fff;
    }
    .sub-menu{
        position: relative;
        top: auto;
        right: auto;
        box-shadow: none;
        padding: 0 10px 0 20px;
    }
    .sub-menu ul {
        padding: 0;
    }

    /*---login----*/
    .page-ath-gfx {
        display: none;
    }
    .page-ath-content {
        width: 100%;
    }


    .page-ath-center .page-ath-gfx{
        display: block;
    }
}

@media (max-width: 575.98px) {
    .user-header-name,
    .user-dropdown-arrow{
        display: none;
    }
    .user-dropdown-icon {
        color: #fff;
        font-size: 13px;
        width: 35px;
        height: 35px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        color: #00ae86;
        padding-top: 11px;
    }


    .page-footer{
        flex-direction: column;
    }
}


@media (max-width: 479.98px) {
	.page-ath-form{
        padding: 30px 20px;
    }
}


@media (max-width: 349.98px) {
	
}